header {
  text-align: center;
  .date {
    margin: 0 auto;
    color: $light;
    font-size: 0.9em;
    font-weight: 400;
  }
  h1 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
  }
}

hr {
    margin: 1rem auto 2rem;
  }

// -- Pagination --

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.paginaion:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0em 0 3em 0;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #c0c0c0;
    &:hover {
      color: #c0c0c0;
      background: $white;
    }
  }
}

.post {
  border: 1px solid $light;
  padding: 1em;
  h2 {
    color: $dark;
    text-align: center;
    a {
      color: $dark;
    }
  }
  .date {
    text-align: center;
  }
  a {
    color: $highlight;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
  }
}

.share_box {
    text-align: center;
    p {
        padding: 0 0 1em 0;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
        color: $dark;
        font-size: 1em;
    }
    i {
        color: $dark;
        padding: 1em 1.5em;
        &:hover {
            color: $highlight;
            cursor: pointer;
        }
    }
}