h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  @media screen and (max-width: 39.9375em) {
    text-align: center;
  }
}
hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 1rem 0 2rem;
  @media screen and (max-width: 39.9375em) {
    margin: 1rem auto 2rem;
  }
}
h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: .25em;
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
}
.date {
  font-size: .8em;
  margin-bottom: 2em;
  color: $light;
}
p {
  margin: 0 0 .75em 0;
  font-weight: 300;
  line-height: 1.5em;
}

.about {
  a {
    color: $highlight;
    font-weight: bold;
    text-decoration: none;
  }
  .profile-img {
    border-radius: 60px;
    max-height: 110px;
    float: left;
    margin: 0em 1em 3em 0em;
    border: 1px solid $highlight;
    @media screen and (max-width: 39.9375em) { 
      float: none;
      margin: 0 auto 10px;
      clear: both;
      display: block;
    }
  }
}