h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 1rem 0 2rem;
}
h3 {
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: .25em;
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
}
.date {
  font-size: .8em;
  margin-bottom: 2em;
  color: $light;
}
p {
  margin: 0 0 .75em 0;
  font-weight: 300;
  line-height: 1.5em;
}

.about {
  a {
    color: $highlight;
    font-weight: bold;
    text-decoration: none;
  }
}