<header id="main_navigation" class="clearfix">
  <div class="expanded row">
    <div class="large-8 medium-6 small-12 columns">
      <%= link_to "Justin Battenfield", root_path, class: "name" %>
    </div>
    <div class="large-4 medium-6 small-12 columns">
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <a href="contact.html">Contact</a>
      </nav>
    </div>
  </div>
</header>