<div class="padded clearfix expanded row">
  <div class="large-6 medium-6 small-12 columns about">
    <h2>About</h2>
    <hr />
    <p>An Okie from Muskogee who now calls Edmond home. I work full time as a Web Designer and Front-End Developer for Life.Church. I have been building websites for the past 6 years and love every minute of it. Passionate about Jesus and his Church, husband to my beautiful bride, Brea, father to, Tenley-Kate and Callaway, and a sucker for a good cup of coffee. Be blessed!</p>
  </div>
  <div class="large-3 medium-3 columns">
    <h2>Stuff I've Written</h2>
    <hr />
    <% @posts.each do |post| %>
          <h3><a href="#"><%= link_to post.title, post %></a></h3>
          <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="large-3 medium-3 columns">
    <h2>Stuff I've Built</h2>
    <hr />
    <% @projects.each do |project| %>
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>