@import 'normalize';
@import "foundation_and_overrides";
@import 'base/variables.scss';

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Rubik', sans-serif;
}

a:link {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.padded {
  padding: 4em 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 { 
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.75;
}

p, ul, ol {
  margin: 0 0 1.6em 0;
}

hr {
    width: 3em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $highlight;
    margin: 1rem 0 2rem;
  }

#main_navigation {
  padding: 2.5em 0;
  border-bottom: 1px solid $border;
  background: $dark;
  .name {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    border: 2px solid $highlight;
    padding: 1rem 1.25rem;
    text-decoration: none;
    color: $white;
    float: left;
    letter-spacing: 6px;
    &:hover {
      background: $white;
      border: 2px solid $white;
      color: $dark;
    }
  }
  nav {
    float: right;
    padding-top: .75rem;
    a {
      color: $white;
      text-decoration: none;
      padding: .75em .85rem;
      font-size: .75rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 300;
      &:hover {
        color: $white;
        border: 2px solid $highlight;
      }
    }
  }
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 2.75em 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#main_footer {
  padding: 1.5em 5% 2.5em;
  background: $gray;
  .copyright {
    float: left;
    font-size: 0.9em;
    margin: 0;
  }
  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      &:hover {
        color: $highlight;
      }
    }
  }
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px soli $border;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 15em;
}

input[type="submit"], .button {
  outline: none;
  background: transparent;
  border: 2px solid $border;
  font-size: 1em;
  color: $dark;
  text-decoration: none;
  padding: 1em 2em;
  &:hover {
    border: 2px solid $highlight;
    color: $highlight;
  }
}

.project-button {
  background: $dark;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 0.85em;
  margin: auto;
  display: table;
  &:hover {
    background: $highlight;
    color: $dark;
  }
}

@import 'styles/welcome.scss';
@import 'styles/projects.scss';
@import 'styles/posts.scss';